<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanghaijia.mapper.DepartmentMapper">

    <resultMap id="BaseResultMap" type="com.yanghaijia.domain.Department">
            <id property="department" column="department" jdbcType="VARCHAR"/>
            <result property="id" column="id" jdbcType="OTHER"/>
            <result property="uuid" column="uuid" jdbcType="VARCHAR"/>
            <result property="depSn" column="dep_sn" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        department,id,uuid,
        dep_sn
    </sql>
</mapper>
